/* Container for the entire layout */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  
  /* Header styling */
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 30px;
    color: #1C698A;
    font-family: 'Montserrat Subrayada'
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .button{
    width: 200px;
  }