<div class="container">
    <header class="header">
      <h1>PERKPOINT</h1>
    </header>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="Enter the user name" >
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter the password" >
        </mat-form-field>
      </form>
      <button mat-flat-button class="button">Basic</button>
  
  </div>