/* Container for the entire layout */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* Header styling */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 20px;
  color: #1c698a;
  font-family: "Montserrat Underline";
  font-weight: 500;
}

.example-form {
  min-width: 100px;
  max-width: 350px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button {
  // width: 350px;
  width: 75vw;
  font-family: "Montserrat Subrayada";
  font-size: 12px;
}

@media (min-width: 500px) {
  .button {
    width: 350px; /* Width for larger screens */
  }
}

.test {
  background-color: red;
}

::ng-deep
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__leading {
  border-top-left-radius: var(--mdc-shape-small, 12px) !important;
  border-bottom-left-radius: var(--mdc-shape-small, 12px) !important;
}

// change input right side border-radius
::ng-deep
  .mdc-text-field--outlined
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-top-right-radius: var(--mdc-shape-small, 12px) !important;
  border-bottom-right-radius: var(--mdc-shape-small, 12px) !important;
}

.icon {
  cursor: pointer;
}
