<div class="container">
    <div class="header-container">
        <header class="header">
            <h1>PERKPOINT</h1>
        </header>
        <div class="header-right">
            <div class="menu-button-active">
                <h1 class="menu">Employees</h1>
            </div>
            <div class="menu-button">
                <h1 class="menu">Rewards</h1>
            </div>
            <div class="logout">
                <mat-icon  fontIcon="logout" ></mat-icon>
            </div>
        </div>
    </div>
    <app-employee-list></app-employee-list>
</div> 

