.header-container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
}

.header {
  text-align: center;
  display: flex;
  gap: 30px;
}

.swager {
  background-color: green;
}

.header h1 {
  font-size: 28px;
  color: #1c698a;
  font-family: "Montserrat Underline";
  font-weight: 700;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-button {
  background-color: #cbe0e9;
  height: 40px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
}

.menu-button .menu {
  font-size: 16px;
  font-weight: 700;
  color: rgb(147, 147, 147);
}

.menu-button-active .menu {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.menu-button-active {
  background-color: #1c698a;
  height: 40px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(48, 48, 48);
  border-radius: 20px;
  cursor: pointer;
}

.logout {
  background-color: #cbe0e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  cursor: pointer;
}

.swager {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #144e26;
  border-color: #003e59;
}

@media (max-width: 600px) {
  .header-container {
    justify-content: center;
  }
  .header {
    display: none;
  }
  .menu-button {
    height: 30px;
    min-width: 100px;
  }
  .menu-button .menu {
    font-size: 14px;
    font-weight: 500;
  }

  .menu-button-active .menu {
    font-size: 14px;
    font-weight: 500;
  }
  .logout {
    height: 30px;
    width: 30px;
  }
}
